body{
    margin: 0;
    padding: 0;
    background-color: rgb(22, 20, 129);
    text-align: center;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

textarea{
    width: 75vw;
    height: 300px;;
    font-size: 2em;
    text-align: justify;
    border-radius: 20px;
    border: solid 1px rgb(22, 20, 129);
    color: rgb(22, 20, 129);
}
#key{
    width: 75vw;
    height: 30px;;
    font-size: 2em;
    text-align: justify;
    border-radius: 10px;
    border: solid 1px rgb(22, 20, 129);
    color: rgb(22, 20, 129);
}
label{
    display: block;
    font-size: 2em;
    margin-top: 40px; 
    margin-bottom: 10px;
}
h1{
    font-size: 3.5em;
}
.button-function{
    width: 15vw;
    border: solid 1px aliceblue;
    margin-right: 11.325vw;
    margin-left: 11.325vw;
    border-radius: 20px;
    height: 35px;
    margin-top: 30px;
    color: rgb(22, 20, 129);
    font-size: 1.8em;
    background-color: aliceblue;
    font: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 700px) {
    .button-function{
        width: 30vw;
        border: solid 1px aliceblue;
        margin-right: 11.325vw;
        margin-left: 11.325vw;
        border-radius: 20px;
        height: 35px;
        margin-top: 30px;
        color: rgb(22, 20, 129);
        font-size: 1.5em;
        background-color: aliceblue;
        font: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h1{
        font-size: 3em;
    }
    div{
        font-size: 0.8em;
    }
}

ul{
    list-style: none;
}
li{
    font-size: 2em;

}

#result{
    margin-bottom: 40px;
}
span{
    display: block
}
div{
    text-align: end;
    margin-right: 12.25vw;
    margin-bottom: 10px;
}